<!-- Quadrant View -->
<div class="row justify-content-center" id="top-row">
  <div class="col-md-5 quadrant" id="quad1">
    <h4>Urgent</h4>
    <div class="form-group">
      <%= form_for @task do |f| %>
        <%= f.text_field :description, placeholder: "Task Description" %>
        <%= hidden_field :task, :quadrant, value: 1 %>
        <%= f.submit "Create Task", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <ul class="flex-ul">
      <% @quad1_tasks.each do |task| %>
        <li class="task">
          <div class="flexc">
            <div>
              <%= link_to complete_task_path(task), id: "complete_task_#{task.id}",
                method: :patch do %>
                <i class="fa fa-square-o fa-2x icon" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="flexdescription"><%= task.description %></div>
            <div class="flexoptions">
              <%= link_to edit_task_path(task), id: "edit_task_#{task.id}" do %>
                <div class="icon"><%= fa_icon "pencil", class: "fa-lg" %></div>
              <% end %>
            </div>
            <div>
              <%= link_to task_path(task), id: "delete_task_#{task.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "" do %>
                <div class="icon"><%= fa_icon "trash-o", class: "fa-lg" %></div>
              <% end %>
            </div>
          </div>
        </li>
        <hr>
      <% end %>
    </ul>
  </div>
  <div class="col-md-5 quadrant" id="quad2">
    <h4>Important</h4>
    <div class="form-group">
      <%= form_for @task do |f| %>
        <%= f.text_field :description, placeholder: "Task Description" %>
        <%= hidden_field :task, :quadrant, value: 2 %>
        <%= f.submit "Create Task", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <ul class="flex-ul">
      <% @quad2_tasks.each do |task| %>
        <li class="task">
          <div class="flexc">
            <div>
              <%= link_to complete_task_path(task), id: "complete_task_#{task.id}",
                method: :patch do %>
                <i class="fa fa-square-o fa-2x icon" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="flexdescription"><%= task.description %></div>
            <div class="flexoptions">
              <%= link_to edit_task_path(task), id: "edit_task_#{task.id}" do %>
                <div class="icon"><%= fa_icon "pencil", class: "fa-lg" %></div>
              <% end %>
            </div>
            <div>
              <%= link_to task_path(task), id: "delete_task_#{task.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "" do %>
                <div class="icon"><%= fa_icon "trash-o", class: "fa-lg" %></div>
              <% end %>
            </div>
          </div>
        </li>
        <hr>
      <% end %>
    </ul>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 quadrant" id="quad3">
    <h4>Delegate</h4>
    <div class="form-group">
      <%= form_for @task do |f| %>
        <%= f.text_field :description, placeholder: "Task Description" %>
        <%= hidden_field :task, :quadrant, value: 3 %>
        <%= f.submit "Create Task", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <ul class="flex-ul">
      <% @quad3_tasks.each do |task| %>
        <li class="task">
          <div class="flexc">
            <div>
              <%= link_to complete_task_path(task), id: "complete_task_#{task.id}",
                method: :patch do %>
                <i class="fa fa-square-o fa-2x icon" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="flexdescription"><%= task.description %></div>
            <div class="flexoptions">
              <%= link_to edit_task_path(task), id: "edit_task_#{task.id}" do %>
                <div class="icon"><%= fa_icon "pencil", class: "fa-lg" %></div>
              <% end %>
            </div>
            <div>
              <%= link_to task_path(task), id: "delete_task_#{task.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "" do %>
                <div class="icon"><%= fa_icon "trash-o", class: "fa-lg" %></div>
              <% end %>
            </div>
          </div>
        </li>
        <hr>
      <% end %>
    </ul>
  </div>
  <div class="col-md-5 quadrant" id="quad4">
    <h4>Time Wasters</h4>
    <div class="form-group">
      <%= form_for @task do |f| %>
        <%= f.text_field :description, placeholder: "Task Description" %>
        <%= hidden_field :task, :quadrant, value: 4 %>
        <%= f.submit "Create Task", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <ul class="flex-ul">
      <% @quad4_tasks.each do |task| %>
        <li class="task">
          <div class="flexc">
            <div>
              <%= link_to complete_task_path(task), id: "complete_task_#{task.id}",
                method: :patch do %>
                <i class="fa fa-square-o fa-2x icon" aria-hidden="true"></i>
              <% end %>
            </div>
            <div class="flexdescription"><%= task.description %></div>
            <div class="flexoptions">
              <%= link_to edit_task_path(task), id: "edit_task_#{task.id}" do %>
                <div class="icon"><%= fa_icon "pencil", class: "fa-lg" %></div>
              <% end %>
            </div>
            <div>
              <%= link_to task_path(task), id: "delete_task_#{task.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "" do %>
                <div class="icon"><%= fa_icon "trash-o", class: "fa-lg" %></div>
              <% end %>
            </div>
          </div>
        </li>
        <hr>
      <% end %>
    </ul>
  </div>

</div>
<!-- /Quadrant View -->


  <!-- <h3>Tasks</h3>
  <ul>
    <% @quad1_tasks.each do |task| %>
      <li>
        <%= task.description %>(Q<%= task.quadrant %>)
        <%= link_to "Complete", complete_task_path(task), id: "complete_task_#{task.id}",
            method: :patch, data: { confirm: "Are you sure?" } %>
        <%= link_to "Edit", edit_task_path(task), id: "edit_task_#{task.id}" %>
        <%= link_to "Delete", task_path(task), id: "delete_task_#{task.id}",
            method: :delete, data: { confirm: "Are you sure?" },
            class: "" %>
      </li>
    <% end %>
  </ul> -->
