<!-- Quadrant View -->
<div class="row justify-content-center" id="top-row">
  <div class="col-md-5 quadrant" id="quad1">
    <h4>Urgent Stuff</h4>
    <div class="form-group">
      <%= form_for @task do |f| %>
        <%= f.text_field :description, placeholder: "Task Description" %>
        <%= hidden_field :task, :quadrant, value: 1 %>
        <%= f.submit "Create Task", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <ul class="q_list">
      <% @quad1_tasks.each do |task| %>
        <li class="task">
          <!-- <%= image_tag("check_box_empty.png", class: "check_box") %> -->
          <div class="menu">
            <div class="icon"><%= fa_icon "bars", class: "fa-lg" %></div>
            <div class="menu-options">
              <%= link_to "Complete", complete_task_path(task), id: "complete_task_#{task.id}",
                  method: :patch %>
              <%= link_to "Edit", edit_task_path(task), id: "edit_task_#{task.id}" %>
              <%= link_to "Delete", task_path(task), id: "delete_task_#{task.id}",
                  method: :delete, data: { confirm: "Are you sure?" },
                  class: "" %>

            </div>
          </div>
          <div class="icon"><%= fa_icon "square-o", class: "fa-2x" %></div>
          <div class="description"><%= task.description %></div>
          <hr>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-5 quadrant" id="quad2">
    <h4>Important Stuff</h4>
    <div class="form-group">
      <%= form_for @task do |f| %>
        <%= f.text_field :description, placeholder: "Task Description" %>
        <%= hidden_field :task, :quadrant, value: 2 %>
        <%= f.submit "Create Task", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <ul class="q_list">
      <% @quad2_tasks.each do |task| %>
        <li class="task">
          <!-- <%= fa_icon "square-o", class: "fa-2x" %> -->
          <%= link_to complete_task_path(task), id: "complete_task_#{task.id}",
            method: :patch do %>
            <i class="fa fa-square-o fa-2x icon" aria-hidden="true"></i>
            <!-- <div class="icon"><%= fa_icon "square-o", class: "fa-2x" %></div> -->
          <% end %>
          <div class="task-description"><%= task.description %></div>
          <div class="options">
            <%= link_to edit_task_path(task), id: "edit_task_#{task.id}" do %>
              <div class="icon"><%= fa_icon "pencil", class: "fa-lg" %></div>
            <% end %>
            <%= link_to task_path(task), id: "delete_task_#{task.id}", method: :delete, data: { confirm: "Are you sure?" }, class: "" do %>
              <div class="icon"><%= fa_icon "trash-o", class: "fa-lg" %></div>
            <% end %>
          </div>
          <hr>
        </li>
      <% end %>
    </ul class="q_list">
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 quadrant" id="quad3">
    <h4>Delegate</h4>
    <div class="form-group">
      <%= form_for @task do |f| %>
        <%= f.text_field :description, placeholder: "Task Description" %>
        <%= hidden_field :task, :quadrant, value: 3 %>
        <%= f.submit "Create Task", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <ul class="q_list">
      <% @quad3_tasks.each do |task| %>
        <li>
          <%= task.description %>
          <%= link_to "Complete", complete_task_path(task), id: "complete_task_#{task.id}",
              method: :patch %>
          <%= link_to "Edit", edit_task_path(task), id: "edit_task_#{task.id}" %>
          <%= link_to "Delete", task_path(task), id: "delete_task_#{task.id}",
              method: :delete, data: { confirm: "Are you sure?" },
              class: "" %>
          <hr>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-5 quadrant" id="quad4">
    <h4>Time Wasters</h4>
    <div class="form-group">
      <%= form_for @task do |f| %>
        <%= f.text_field :description, placeholder: "Task Description" %>
        <%= hidden_field :task, :quadrant, value: 4 %>
        <%= f.submit "Create Task", class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>
    <ul class="q_list">
      <% @quad4_tasks.each do |task| %>
        <li>
          <%= task.description %>
          <%= link_to "Complete", complete_task_path(task), id: "complete_task_#{task.id}",
              method: :patch %>
          <%= link_to "Edit", edit_task_path(task), id: "edit_task_#{task.id}" %>
          <%= link_to "Delete", task_path(task), id: "delete_task_#{task.id}",
              method: :delete, data: { confirm: "Are you sure?" },
              class: "" %>
          <hr>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- /Quadrant View -->


  <!-- <h3>Tasks</h3>
  <ul>
    <% @quad1_tasks.each do |task| %>
      <li>
        <%= task.description %>(Q<%= task.quadrant %>)
        <%= link_to "Complete", complete_task_path(task), id: "complete_task_#{task.id}",
            method: :patch, data: { confirm: "Are you sure?" } %>
        <%= link_to "Edit", edit_task_path(task), id: "edit_task_#{task.id}" %>
        <%= link_to "Delete", task_path(task), id: "delete_task_#{task.id}",
            method: :delete, data: { confirm: "Are you sure?" },
            class: "" %>
      </li>
    <% end %>
  </ul> -->
