<div class='container'>
  <h3>Tasks</h3>

  <div class="row">
    <%= form_for @task do |f| %>
      <%= f.label "Description" %>
      <%= f.text_field :description %>
      <%= f.label "Quadrant" %>
      <%= f.select :quadrant, (1..4) %>
      <%= f.submit "Create Task" %>
    <% end %>
  </div>

  <ul>
    <% @uncompleted_tasks.each do |task| %>
      <li>
        <%= task.description %>(Q<%= task.quadrant %>)
        <%= link_to "Complete", complete_task_path(task), id: "complete_task_#{task.id}",
            method: :patch, data: { confirm: "Are you sure?" } %>
        <%= link_to "Edit", edit_task_path(task), id: "edit_task_#{task.id}" %>
        <%= link_to "Delete", task_path(task), id: "delete_task_#{task.id}",
            method: :delete, data: { confirm: "Are you sure?" },
            class: "" %>
      </li>
    <% end %>
  </ul>
</div>
