<!DOCTYPE html>
<html>
  <head>
    <title>Yatdl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-info text-white mx-1 mb-3">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
        <a class="navbar-brand" href="#">YATDL</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">To-Do List<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mind Dump</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Unassigned Tasks(# of unassigned heregs)</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
          </ul>
        </div>
      </div>
      </nav>
    <div class="container">
      <%= flash_messages %>
    <%= yield %>
    </div>
    <hr class="my-5">
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
