<!DOCTYPE html>
<html>
  <head>
    <title>Yatdl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key,message| %>
      <%= message %>
    <% end %>
    <%= yield %>
    <hr class="my-5">
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
